:global #gui {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	pointer-events: none;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.topBar, .bottomBar {
	position: absolute;
	right: 0;
	left: 0;
}
.gameOver
{
	width: 100%;
	height: 100%;
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	text-align: center;
	justify-content: center;
	align-items: center;
	display: flex;
	color: green;
	font-size: 35px;
}

.topBar {
	top: 0;
	height: 6vh;
	font-size: 4vh;
	/*background-color: rgba(255, 255, 255, .75);*/
}

.co2, .population, .balance {
	display: flex;
	margin-left: 3px;
	align-items: center;
	color: #fff;
	font-family: 'Maven Pro', sans-serif;
	font-weight: bold;
}


.co2Icon, .popImg{
	height: 30px;
	width: 30px;
}

.co2Bar{
	height: 30px;
	margin-top: 5px;
	margin-left: 5px;
	position: relative;
}

.co2BarImage{
	height: 100%;
}

.co2BarMarker{
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}


.co2BarImageContainer{
	height: 93%;
	transition: width 1s;
	overflow: hidden;
}

.co2__graph {
	width: 5em;
	height: 1.25em;
	margin-left: .5em;
}

.balance {
	margin-right: 1em;
}

.bottomBar {
	bottom: 0;
	height: 50px;
	font-size: 2.5vh;
	display: flex;
	background-color: none;
}

.info {
	text-align: center;
	flex-grow: 1;
}

.tree__btn, .factory__btn {
	pointer-events: all;
	font-size: 1em;
	width: 100%;
	background: none;
	border: none;
	user-select: none;
	outline: none;
	cursor: pointer;
	position: relative;
}


/*SHOP*/
.shopWrapper{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.3);
	display: flex;
	align-items: center;
	justify-content: center;
}

/*.shopWrapper::before {
	content: '';
	display: block;
	width: 50px;
	max-width: 50px;
	height: 50px;
	position: relative;
	top: 10%;
	right: 10%;

	background-image: url('../../../assets/gui/btn_close-x2.png');
	background-size: contain;
}*/

.shopModal, .sellModal {
	max-width: 90%;
	max-height: 90%;
	color: white;
	padding: 20px;
	border-image-repeat: stretch;
	border-style: solid;
}

.shopModal {
	padding-top: 80px;
	border-image-source: url('../../../assets/gui/panel_shop-x2.png');
	border-image-slice: 10 10 10 10 fill;
}

.sellModal {
	background-color: rgba(100, 100, 100, 0.8);
	border: solid rgba(255, 255, 255, 1) 10px;
	border-radius: 5px;
}

.shopContent{
	display: flex;
	position: relative;
}

.shopHeader{
	display: flex;
	justify-content: center;
}

.shopGraph {

}

.shopClose__btn__buy, .shopClose__btn__sell {
	pointer-events: all;
	background-image: url('../../../assets/gui/btn_close-x2.png');
	background-size: contain;
	width: 50px;
	height: 50px;
	cursor: pointer;
	position: relative;
}

.shopClose__btn__buy {
	top: -160px;
	right: -600px;
}

.shopClose__btn__sell {
	top: -176px;
	right: -491px;
}

.storeTreeList{

}

/*Tree Tiles*/
.treeTile{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 5px;
}

.shopBuyButton {
	background-image: url('../../../assets/gui/btn_buy-x2.png');
}

.shopSellButton {
	background-image: url('../../../assets/gui/btn_Sell-x2.png');
}

.shopBuyButton, .shopSellButton {
	background-size: contain;
	background-repeat: no-repeat;
	width: 150px;
	height: 75px;
	padding: 8px;
	color: black;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-end;
}

.shopButtonText, .coinIcon {
	margin-bottom: 20px;
}

.shopButtonActionText {
	font-weight: bold;
}

.coinIcon {
	background-image: url('../../../assets/gui/icn_coin-x2.png');
	background-size: contain;
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
	display: inline-block;
}

.treeListItem{
	cursor: pointer;
	pointer-events: all;
}


.slotItem{
	width: 100%;
	flex-basis: 100%;
	text-align: center;
}

.slotEmptyImage{
	width: 40px;
	height: 40px;
}

.slotPlantImage{
	position: absolute;
	top: 7px;
	left: 0;
	right: 0;
}